@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@500&display=swap');

p{
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}